html {
  font-size: 0.8rem;
}
body {
  margin:0;
  padding:0;
  overflow:hidden;
}

a{
    cursor:pointer;
}
rect.workcenter {
    fill:rgb(127,127,127);
    opacity: 1;
}
.duty-1 {
    fill:hsl(145, 63%, 49%);
    stroke:hsl(145, 63%, 49%);
}
rect.workcenter:hover {
    opacity:0.8;
}
line.road {
    stroke:rgb(127,127,127);
    stroke-width:5;    
}
@keyframes anim-trouble {  
    0% {opacity:0;}
    20% {opacity: 0.2;}
    40% {opacity: 0.4;}
    60% {opacity: 0.8;}
    80% {opacity: 0.4;}
    100% {opacity: 0.2;}
}

#instance-div {
    position: absolute;
    border: solid 1px red;
    padding: 0;
    margin: 0;
    padding-left: 2;
    padding-right: 2;
    width: 100%;
    overflow-y: hidden;
}
#loadingSpinner {
    position: relative;
    display: none;
}
#content-div {
    border: solid 1px red;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    opacity: 1;
}
.cell-data {
    border-left:1px solid;
    border-bottom:1px solid;
    text-align:center;
}
.cell-data-left {
    border-left:1px solid;
    border-bottom:1px solid;
    text-align:left;
}
.cell-header {
    border-left:1px solid;
    border-bottom:1px solid;
    border-top:1px solid;
    font-weight: bold;
    text-align:center;
}
#loginform {
    display: none;
    position: relative;
}
#errorLoadingMessage {
    display: none;
    position: relative;
    /*z-index: 0;*/ 
}
#factoryMap {
    position: relative;
    border: solid 1px red;
    margin: 0;
    padding: 0;
}