html {
  font-size: 0.8rem;
}
body {
  margin:0;
  padding:0px;
  overflow:hidden;
}
* {
    box-sizing: border-box;
}

a{
    cursor:pointer;
}
.duty-0 {
    fill:hsl(145, 63%, 49%);
    stroke:hsl(145, 63%, 49%);
    background-color: hsl(145, 63%, 49%);
}
.duty-1 {
    fill:hsl(145, 63%, 59%);
    stroke:hsl(145, 63%, 59%);
    background-color: hsl(145, 63%, 59%);
}
.duty-2 {
    fill:hsl(145, 63%, 69%);
    stroke:hsl(145, 63%, 69%);
    background-color: hsl(145, 63%, 69%);
}
.duty-3 {
    fill:hsl(145, 63%, 79%);
    stroke:hsl(145, 63%, 79%);
    background-color: hsl(145, 63%, 79%);
}
.duty-4 {
    fill:hsl(48, 89%, 80%);
    stroke:hsl(48, 89%, 80%);
    background-color: hsl(48, 89%, 80%);
}
.duty-5 {
    fill:hsl(37, 90%, 71%);
    stroke:hsl(37, 90%, 71%);
    background-color: hsl(37, 90%, 71%);
}
.duty-6 {
    fill:hsl(28, 80%, 61%);
    stroke:hsl(28, 80%, 61%);
    background-color: hsl(28, 80%, 61%);
}
.duty-7 {
    fill:hsl(24, 100%, 41%);
    stroke:hsl(24, 100%, 41%);
    background-color: hsl(24, 100%, 41%);
}
.duty-8 {
    fill:hsl(24, 100%, 36%);
    stroke:hsl(24, 100%, 36%);
    background-color: hsl(24, 100%, 36%);
}
.duty-9 {
    fill:hsl(24, 100%, 31%);
    stroke:hsl(24, 100%, 31%);
    background-color: hsl(24, 100%, 31%);
}
.duty-10 {
    fill:hsl(24, 100%, 26%);
    stroke:hsl(24, 100%, 26%);
    background-color: hsl(24, 100%, 26%);
}
.duty-11 {
    fill:hsl(24, 100%, 21%);
    stroke:hsl(24, 100%, 21%);
    background-color: hsl(24, 100%, 21%);
}
.noduty {
    fill:rgb(127,127,127);
    stroke:rgb(127,127,127);
    background-color: rgb(127,127,127);
}

.workcenter {
    opacity: 1;
    position: absolute;
    stroke-width:2;
    cursor: pointer;
}
.workcenter:hover {
    stroke:rgb(0,0,0);
}
line.road {
    stroke-width:15;    
    cursor: pointer;
}
line.road:hover {
    stroke-width:17;    
}

instance {
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow-y: hidden;
}
#loadingSpinner {
    position: absolute;
    display: none;
}

#loginform {
    display: none;
    position: relative;
}
#errorLoadingMessage {
    display: none;
    position: relative;
    /*z-index: 0;*/ 
}
#factoryMap {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#btnOrderInfo {
    position: absolute;
    display: none;
    background-color: silver;
    color: darkblue;
    border-radius: 1em;
    border: darkblue 2px solid;
    cursor: pointer;
    opacity: 1;
    width: 3em;
    height: 3em;
    text-align: center;
    z-index: 2;
    animation: btnContext 3s infinite;
    margin:auto;
}

#btnOrderMove {
    position: absolute;
    display: none;
    background-color: silver;
    color: darkgreen;
    border-radius: 1em;
    border: darkgreen 2px solid;
    cursor: pointer;
    opacity: 1;
    width: 3em;
    height: 3em;
    text-align: center;
    z-index: 2;
    animation: btnContext 3s infinite;
    margin:auto;
}

@keyframes order-highlight {
    0%, 100% {
        background-color: white;
    }
    50% {
        background-color:greenyellow;
    }
}

@keyframes btnContext {
    0%, 100% {
        border-radius: 2em;
    }
    /*40%, 60% {
        border-radius: 1em;
    }*/
    50% {
        border-radius: 1em;
    }
}

messages {
    position: absolute;
    opacity: 1;
    background-color: white;
    color: black;
    padding: 5px;
    border: solid 2px grey;
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 5px;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
}
message-template {
    height: 100%;
}
#messages-popup {
    cursor: pointer;
    color: white;
    padding: 5px;
    background-color: blue;
    border-radius: 3px;
    font-size: small;
}
messages > messages-container {
    overflow-y: auto;
    height: 100%;
}
messages > messages-container > message {
    padding: 3px;
    border: solid 1px black;
    border-radius: 3px;
    display: block;
    margin: 2px;
}
message > user {
    font-weight: bold;
    font-size: smaller;
    display: block;
}
message[message_id].INFO {
    color: navy;
    background-color: white;
}
message[message_id].WARNING {
    color:white;
    background-color: brown;
}
message[message_id].CRITICAL {
    color: red;
}

factory {
    height: 100%;
    display: grid;
    grid-template-rows: 2em 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
}
orders {
    height: 100%;
    display: grid;
    grid-template-rows: 2em 1.5em 1fr 2em;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 0.5em;
}
orders_in_workcenter {
    height: 100%;
    display: grid;
    grid-template-rows: 2em 2em 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
}
orders_in_road {
    height: 100%;
    display: grid;
    grid-template-rows: 2em 2em 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
}
orders_to_import {
    margin: 0;
    width: 100%;
    padding: 0vw;
    height: 100%;
    overflow-y: auto;
    border: black 1px solid;
}
orders_inprocess {
    margin: 0;
    padding: 0vw;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: black 1px solid;
}
income {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: black 1px solid;
}
processing {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: black 1px solid;
}
outcome {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: black 1px solid;
}

order.highlight {
    animation: order-highlight 3s infinite;
}

order.brief {
    padding: 0.2em;
    display: inline-block;
    cursor: pointer;
    border-bottom: black 1px solid;
    background-color: white;
    color: black;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
order.brief > orderheader > ordercaption,
order.brief > ordertiming > due > diffdate,
order.brief > ordertiming > baseline > absolutedate,
order.brief > ordertiming > estimated > absolutedate,
order.brief > orderhistory {
    display: none;
}
order.brief > orderheader > number {
    display: inline-block;
    text-align: center;
    width: 5em;
}

order[full="0"] {
    color: red;
}
order.selected[full="0"]{
    background-color: grey;
}

orderinfo {
    display: grid;
    grid-template-rows: 2em 5em 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0.1em;    
}

orderinfo > orderheader {
    display: block;
}
orderinfo > orderheader > ordercaption {
    font-size: larger;
}
orderinfo > orderheader > number {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
orderinfo > ordertiming {
    display: grid;
    grid-template-rows: 5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.1em;    
}
orderinfo > ordertiming > due::before {
    content: "Due "; 
}
orderinfo > ordertiming > estimated::before {
    content: "Estimated "; 
}
orderinfo > ordertiming > baseline::before {
    content: "Plan "; 
}
orderinfo > ordertiming > due,
orderinfo > ordertiming > estimated,
orderinfo > ordertiming > baseline {
    display:inline-block;
    text-align: center;
    border-radius: 3px;
}
orderinfo > ordertiming > due > diffdate,
orderinfo > ordertiming > estimated > diffdate,
orderinfo > ordertiming > baseline > diffdate,
orderinfo > ordertiming > due > absolutedate,
orderinfo > ordertiming > estimated > absolutedate,
orderinfo > ordertiming > baseline > absolutedate {
    display:block;
    text-align: center;
}
orderinfo > orderhistory::before {
    content: 'History';
}
orderinfo > orderhistory > event {
    display: block;
    border-top: black 1px solid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
orderinfo > orderhistory > event > eventtime {
    display: inline-block;
    width:5em;
}

orderinfo > orderhistory > event > workcenter {
    display: inline-block;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;
}
orderinfo > orderhistory > event > road {
    display: inline-block;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;
}
orderinfo > orderhistory > event > bucket {
    display: inline-block;
    color: blueviolet;
    border-radius: 3px;
    padding-left: 1em;
    padding-right: 1em;
}
order.brief > ordertiming > due > absolutedate {
    display: inline-block;
    text-align: center;
    width: 5em;
}
order.brief > ordertiming > estimated > diffdate {
    display: inline-block;
    text-align: center;
    width: 4em;
}
order.brief > ordertiming > baseline > diffdate {
    display: inline-block;
    text-align: center;
    width: 4em;
}

order.selected {
    background-color: darkblue;
    color: white;
}

.late {
    background-color: red;
    color: white;
}
.intime {
    color:limegreen;
}

.th-5 {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 5em;
}
.th-6 {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 6em;
}

.th-3 {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 3em;
}
.th-4 {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 4em;
}

.order-bage {
    font-size: x-small;
    position: absolute;
    background-color: darkred;
    color: white;
    border-radius: 2px;
}
