html {
  font-size: 0.8rem;
}
body {
  margin:0;
  padding:0px;
  overflow:hidden;
}
* {
    box-sizing: border-box;
}

a{
    cursor:pointer;
}
.duty-0 {
    fill:hsl(145, 63%, 49%);
    stroke:hsl(145, 63%, 49%);
}
.duty-1 {
    fill:hsl(145, 63%, 59%);
    stroke:hsl(145, 63%, 59%);
}
.duty-2 {
    fill:hsl(145, 63%, 69%);
    stroke:hsl(145, 63%, 69%);
}
.duty-3 {
    fill:hsl(145, 63%, 79%);
    stroke:hsl(145, 63%, 79%);
}
.duty-4 {
    fill:hsl(48, 89%, 80%);
    stroke:hsl(48, 89%, 80%);
}
.duty-5 {
    fill:hsl(37, 90%, 71%);
    stroke:hsl(37, 90%, 71%);
}
.duty-6 {
    fill:hsl(28, 80%, 61%);
    stroke:hsl(28, 80%, 61%);
}
.duty-7 {
    fill:hsl(24, 100%, 41%);
    stroke:hsl(24, 100%, 41%);
}
.duty-8 {
    fill:hsl(24, 100%, 36%);
    stroke:hsl(24, 100%, 36%);
}
.duty-9 {
    fill:hsl(24, 100%, 31%);
    stroke:hsl(24, 100%, 31%);
}
.duty-10 {
    fill:hsl(24, 100%, 26%);
    stroke:hsl(24, 100%, 26%);
}
.duty-11 {
    fill:hsl(24, 100%, 21%);
    stroke:hsl(24, 100%, 21%);
}
.noduty {
    fill:rgb(127,127,127);
    stroke:rgb(127,127,127);
}

.workcenter {
    opacity: 1;
    position: absolute;
    stroke-width:2;
    cursor: pointer;
}
.workcenter:hover {
    stroke:rgb(0,0,0);
}
line.road {
    stroke-width:5;    
    cursor: pointer;
}
line.road:hover {
    stroke-width:7;    
}

@keyframes anim-trouble {  
    0% {opacity:0;}
    20% {opacity: 0.2;}
    40% {opacity: 0.4;}
    60% {opacity: 0.8;}
    80% {opacity: 0.4;}
    100% {opacity: 0.2;}
}

instance {
    display: block;
    position: relative;
    border: solid 2px green;
    padding: 5px;
    margin: 0px;
    padding-left: 2;
    padding-right: 2;
    width: 100%;
    overflow-y: hidden;
}
#loadingSpinner {
    position: relative;
    display: none;
}
.content-div {
    position: relative;
    border: solid 1px red;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    opacity: 1;
}
.cell-data {
    border-left:1px solid;
    border-bottom:1px solid;
    text-align:center;
}
.cell-data-left {
    border-left:1px solid;
    border-bottom:1px solid;
    text-align:left;
}
.cell-header {
    border-left:1px solid;
    border-bottom:1px solid;
    border-top:1px solid;
    font-weight: bold;
    text-align:center;
}
div[assign] {
    cursor: pointer;
}

.active[assign] {
    background-color: grey;
}

.active[order] {
    background-color: grey;
}

#loginform {
    display: none;
    position: relative;
}
#errorLoadingMessage {
    display: none;
    position: relative;
    /*z-index: 0;*/ 
}
#factoryMap {
    position: relative;
    border: solid 1px red;
    margin: 0;
    padding: 0;
}

#btn-move-assign {
    position: absolute;
    display: none;
    border: 1px solid black;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}
#btn-move-assign:hover {
    background-color: yellow;
}
#btn-order-info {
    position: absolute;
    display: none;
    border: 1px solid black;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}

#btn-update-baseline {
    position: absolute;
    display: none;
    border: 1px solid black;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}

#btn-order-info:hover {
    background-color: green;
}
#btn-import-order {
    position: absolute;
    content: "+";
    display: none;
    border: 1px solid black;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}
#btn-import-order:hover {
    background-color: green;
}
#btn-route-order {
    content: "~";
    position: absolute;
    display: none;
    border: 1px solid black;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}
#btn-route-order:hover {
    background-color: green;
}
order > number {
    font-weight: bold;
}
order > estimated:before {
    content: "est.:";
}
order > baseline:before {
    content: "bsln.:";
}

order > baseline{
    display: none;
}

order > deadline{
    display: none;
}

order > estimated {
    display: none;
}

order > deadline:before {
    content: "";
}

order > advancedeadbase {
    display: none;
    color: white;
    background-color: green;
}
order > advancedeadbase:before {
    content: "";
}

order > advanceestimated {
    color: white;
    background-color: green;
    margin-left: 2px;
}

order > lagestimated:before {
    content: "before";
}

order > lagestimated {
    color: white;
    background-color: darkred;
}

order > advanceestimated:before {
    content: "in";
}

order > lagdeadbase {
    display: none;
    color: white;
    background-color: darkred;
}

order > lagbaseest {
    display: none;
    color: white;
    background-color: darkred;
}
order > advancebaseest {
    display: none;
    color: white;
    background-color: green;
}

order > lagdeadest {
    color: white;
    background-color: darkred;
}
order > advancedeadest {
    color: white;
    background-color: green;
}

order > advancebaseest:before {
    content: "";
}
order > lagbaseest:before {
    content: "";
}

order > advancedeadest:before {
    content: "";
}
order > lagdeadest:before {
    content: "";
}


#block-btn-imported-orders {
    display: none;
}

@keyframes order-highlight {
    from {
        background-color: white;
    }
    to {
        background-color: gray;
    }
}

messages.expanded {
    position: relative;
    opacity: 1;
    float: left;
    background-color: silver;
    color: black;
    padding: 5px;
    border: solid 2px grey;
    width: 100%;
    display: flex;
    flex-direction: column; 
}
messages.collapsed {
    cursor: pointer;
    position: relative;
    opacity: 0.8;
    float: right;
    color: white;
    padding: 5px;
    border: solid 0px blue;
}
#messages-header {
    display: none;
}
messages > messages-container {
    display: inline-block;
    overflow-y: auto;
}
messages > messages-container > message {
    padding: 3px;
    border: solid 1px black;
    float: left;
    margin: 2px;
}
message > user {
    font-weight: bold;
    font-size: smaller;
    display: block;
}
message[message_id].INFO {
    color: navy;
    background-color: white;
}
message[message_id].WARNING {
    color:white;
    background-color: brown;
}
message[message_id].CRITICAL {
    color: red;
}
